.container{
    border-radius: 7%;
    height: 380px;
    width: 380px;
}
.dcto{
}
.c_dcto{
    background-color: rgba(244, 67, 54, 0.953);
    width: 85px;
    height: 30px;
    color: white;
    position: absolute;
    transform: translate(295px, -330px);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.percent{
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-115px, 49px);
}
